<% content_for :body_content_title do %>
  <%= @faq.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @faq.title %>
    </p>
  </section>
  <section>
    <h1>Body</h1>
    <p>
      <%=raw @faq.body %>
    </p>
  </section>
  <section>
    <h1>Position</h1>
    <p>
      <%=raw @faq.position %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="faqs">
      <% @faqs.each do |faq| %>
        <li>
          <%= link_to faq.title, refinery.faqs_faq_path(faq) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
